<footer class="container text-center mt-5">
	<p class="text-muted">
		<small>
			<span class="text-muted">&copy; {{ 'now'|date('Y') }} &middot;
				Built with </span><span class="text-danger">&#10084;</span><span class="text-muted"> by </span><a href="https://github.com/iamRomeo-dev">&#10100; Roméo &#10101; </a>from DwwM
			</small>
		</p>
	</footer>