<nav class="navbar navbar-expand-sm navbar-light mb-4" style="background-color:#a69603;">
  <div class="container">
    <a class="navbar-brand" href="{{ path('app_home') }}">Oscars 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_actors') }}">Actors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_actress') }}">Actress</a>
        </li>        
      </ul>
    </div>
  </div>
</nav>